[submodule "hub/bert"]
	path = hub/bert
	url = git@github.com:pennz/bert
[submodule "hub/combat-wombat-bias-in-toxicity"]
	path = hub/combat-wombat-bias-in-toxicity
	url = git@github.com:pennz/combat-wombat-bias-in-toxicity.git
[submodule "hub/custom-fastai-callbacks"]
	path = hub/custom-fastai-callbacks
	url = git@github.com:akashpalrecha/custom-fastai-callbacks
[submodule "hub/custom_fastai_callbacks"]
	path = hub/custom_fastai_callbacks
	url = git@github.com:pennz/custom-fastai-callbacks
