[submodule "hub/bert"]
	path = hub/bert
	url = https://github.com/pennz/bert
[submodule "hub/combat-wombat-bias-in-toxicity"]
	path = hub/combat-wombat-bias-in-toxicity
	url = https://github.com/pennz/combat-wombat-bias-in-toxicity.git
